<h1>Administrator League Manager</h1>

<!-- navbar -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="/home"> Player Home </a></li>
      <li class="active"><a href="/adminLeague"> Admin Home </a></li>
      <li><a href="/playerRoster"> Player Roster </a></li>
      <!-- <li><a href="/createLeague"> Create League </a></li> -->
      <li class=""><button button id="logoutBtn" class="navbar-btn btn-primary btn pull-right" ng-click="admin.logout()">Sign Out</button></li>
    </ul>
  </div>
</nav>

<div class="adminSection">
  <h2>Leagues</h2>
  <a href="/createLeague">Create New League...</a><br>
  <div class="form-group row">
    <label class="col-xs-2">Select League</label>
    <div class="col-xs-10">
      <select class="form-control dropdown-toggle col-md-4" ng-model="leagueId" ng-change="admin.getGames(leagueId)">
        <option ng-repeat="league in admin.leagues" value="{{league.id}}">{{league.name}}</option>
      </select><br>
    </div>
  </div>
</div>

<div class="adminSection">
  <h2>Games</h2>
  <button ng-click="admin.newGame()" class="btn btn-primary" >Schedule Game</button>
  <table id="">
    <tr>
      <th>Game Name</th>
      <th>Player Count</th>
      <th>Alternate Count</th>
      <th>Edit?</th>
    </tr>
    <tr ng-repeat="game in admin.games">
      <!-- add functionality to populate table -->
      <td>{{game.name}}</td>
      <td>{{game.count}}</td>
      <td>0</td>
      <td><button ng-click="admin.editGame()" class="btn btn-default" >Edit Game...</button></td>
    </tr>
  </table>
</div>

<div class="adminSection">
  <h2>Leaderboard</h2>
  <table id="">
    <tr>
      <th>Player</th>
      <th>Place</th>
      <th>Points</th>
      <th>Final Tables</th>
    </tr>
    <tr>
      <!-- add functionality to populate table -->
      <td>Player Name</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </table>
</div>

<div class="adminSection">
  <h2>Winners</h2>
  <table id="">
    <tr>
      <th>Winner</th>
      <th>Game</th>
    </tr>
    <tr>
      <!-- add functionality to populate table -->
      <td>Player Name</td>
      <td>Date</td>
    </tr>
  </table>
  <td><button type="submit" class="btn btn-primary" >Add Winner...</button></td>
</div>
