
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="/home"> Player Home </a></li>
      <li class="active"><a href="/adminLeague"> Admin Home </a></li>
      <li><a href="/playerRoster"> Player Roster </a></li>
      <li class=""><button button id="logoutBtn" class="navbar-btn btn-primary btn" ng-click="admin.logout()"><span class="glyphicon glyphicon-log-out"></span> Sign Out</button></li>
    </ul>
  </div>
</nav>

<div class="adminSection col-xs-8">
  <h2>Leagues</h2>
  <button ng-click="admin.createLeaguePage()" id="scheduleGame" class="btn btn-primary" >Create League</button>
  <div class="form-group row">
    <label class="col-xs-1 pull-left">Select League</label>
    <div class="col-xs-11 pull-left">
      <select class="form-control dropdown-toggle col-md-4" ng-options="league.name for league in admin.leagues" ng-model="admin.league" ng-change="admin.getGames(admin.league.id); admin.getLeaderboard(admin.league.id); admin.getWinners(admin.league.id)"></select>
    </div>
  </div>
</div><br>

<div class="adminSection col-xs-12">
  <h2>Games</h2>
  <button ng-click="admin.newGame(admin.league.id)" id="scheduleGame" class="btn btn-primary" >Schedule Game</button>
  <div class="overflow mediumTable">
    <table class=" table table-striped col-xs-12">
      <thead>
        <tr>
          <th class="col-xs-3">Game Name</th>
          <th class="col-xs-2">Date</th>
          <th class="col-xs-2">Player Count</th>
          <th class="col-xs-2">Edit?</th>
        </tr>
      </thead>
        <tbody>
        <tr ng-repeat="game in admin.games">
          <td class="col-xs-3">{{game.name}}</td>
          <td class="col-xs-2">{{game.date}}</td>
          <td class="col-xs-2">{{game.count}}</td>
          <td class="col-xs-2"><button ng-click="admin.editGame(game)" id="editBtn" class="btn btn-default" >Edit Game...</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="adminSection col-xs-12">
  <h2>Leaderboard</h2>
  <div class="overflow mediumTable">
    <table class="table table-striped col-xs-12">
        <thead>
          <tr>
            <th class="col-xs-5">Player</th>
            <th class="col-xs-2">Place</th>
            <th class="col-xs-2">Points</th>
            <th class="col-xs-2">Final Tables</th>
          </tr>
        </thead>
        <tbody>
        <tr ng-repeat="person in admin.leaderboard">
          <td class="col-xs-5">{{ person.name }}</td>
          <td class="col-xs-2">{{ person.place }}</td>
          <td class="col-xs-2">{{ person.points }}</td>
          <td class="col-xs-2">{{ person.count }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="adminSection col-xs-6">
  <h2>Winners</h2>
  <div class="overflow mediumTable">
    <table id="" class="table table-striped col-xs-12">
      <thead>
        <tr>
          <th>Winner</th>
          <th>Game</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="winner in admin.winners">
          <td class="col-xs-4">{{ winner.name }}</td>
          <td class="col-xs-4">{{ winner.game_name }}</td>
          <td class="col-xs-4">{{ winner.date }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
