<h1>Administrator League Manager</h1>

<!-- navbar -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="/home"> Player Home </a></li>
      <li class="active"><a href="/adminLeague"> Admin Home </a></li>
      <li><a href="/adminPlayer"> Admin Player </a></li>
      <li><a href="/createLeague"> Create League </a></li>
    </ul>
  </div>
</nav>

<div class="">
  <select class="form-control dropdown-toggle" name="">
    <option value="">League</option>
  </select>
</div>

<div id="">
  <h2>Games</h2>
  <button type="submit" class="btn btn-default" >Schedule Game</button>
  <a href="/newGame">Schedule Game</a>
  <table id="">
    <tr>
      <th>Game Name</th>
      <th>Player Count</th>
      <th>Alternate Count</th>
      <th>Edit?</th>
    </tr>
    <tr>
      <!-- add functionality to populate table -->
      <td>Game Name</td>
      <th>0</th>
      <th>0</th>
      <td><button type="submit" class="btn btn-default" >Edit Game...</button></td>
    </tr>
  </table>
</div>

<div id="">
  <h2>Leaderboard</h2>
  <table id="">
    <tr>
      <th>Player</th>
      <th>Place</th>
      <th>Points</th>
      <th>Final Tables</th>
    </tr>
    <tr>
      <!-- add functionality to populate table -->
      <td>Player Name</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </table>
</div>

<div id="">
  <h2>Winners</h2>
  <table id="">
    <tr>
      <th>Winner</th>
      <th>Game</th>
    </tr>
    <tr>
      <!-- add functionality to populate table -->
      <td>Player Name</td>
      <td>Date</td>
    </tr>
  </table>
  <td><button type="submit" class="btn btn-default" >Add Winner...</button></td>
</div>
