
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="/home"> Player Home </a></li>
      <li ng-if="admin.admin"><a href="/adminLeague"> Admin Home </a></li>
      <li><a href="/playerRoster"> Player Roster </a></li>
      <li class=""><button button id="logoutBtn" class="navbar-btn btn-primary btn pull-right" ng-click="admin.logout()"><span class="glyphicon glyphicon-log-out"></span> Sign Out</button></li>
    </ul>
  </div>
</nav>

<form class="form-horizontal col-xs-12 col-md-8 col-md-offset-2 well" ng-submit="">
  <div class="form-group row">
    <label class="control-label col-xs-offset-1 col-xs-2">League Name</label>
    <div class="col-xs-8">
      <input class="form-control" type="text" ng-model="admin.league.name">
    </div>
  </div>
  <div class="form-group row">
    <div class="form-group row">
      <label class="control-label col-xs-offset-3 col-xs-2">Start Date</label>
      <div class="col-xs-4">
        <input class="form-control" type="date" ng-model="admin.league.start_date">
      </div>
    </div>
    <div class="form-group control">
      <label class="control-label col-xs-offset-3 col-xs-2">End Date</label>
      <div class="col-xs-4">
        <input class="form-control" type="date" ng-model="admin.league.end_date">
      </div>
    </div>
  </div>
  <div class="col-xs-offset-5 col-xs-10">
    <button ng-click="admin.createLeague(admin.league)" class="btn btn-primary" >Create League</button>
    <button class="btn btn-default" ng-click="admin.cancel()">Cancel</button>
  </div>
</form>
