<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>home</title>

  </head>
  <body>
    <h1>Home</h1>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/home"> Player Home </a></li>
          <li><a href="/adminLeague"> Admin Home </a></li>
          <li><a href="/playerRoster"> Player Roster </a></li>
          <!-- <li><a href="/createLeague"> Create League </a></li> -->
          <li class=""><button id="logoutBtn" class="navbar-btn btn-primary btn pull-right" ng-click="home.logout()">Sign Out</button></li>
        </ul>
      </div>
    </nav>
    <div id="playerList">
      <ol ng-repeat="player in home.playerList">
        <li>{{player.name}}</li>
      </ol>
    </div>
    <div ng-repeat="digest in home.digestList">
      {{digest.entry}}
    </div>
    <!-- <button ng-click="home.logout()" class="btn btn-primary">Sign Out</button> -->

  </body>
</html>
