<h1> Other Player Profile </h1>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="/home"> Home </a></li>
      <li><a href="/edit.profile">Edit Profile</a><li>
      </ul>
    </div>
  </nav>
  <form class="form-horizontal col-xs-12 col-md-6 col-md-offset-3 well">
    <div class="form-group row">
  <!-- <div class="profileDisplay"> -->
    <p>Username: {{ profile.username }}</p>
    <p>First Name: {{ profile.first_name }}</p>
    <p>Last Name: {{ profile.last_name }}</p>
    <p>LinkedIn URL: {{ profile.linkedin }}</p>
    <p>Personal Bio: {{ profile.bio }}</p>
    <div id="profileImage">
    <img class="" ng-src="/../uploads/{{profile.username}}.jpg" alt=""/>
    <!-- </div> -->
  </div>
</form>
