<h1>Player Roster</h1>

<!-- navbar -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="/home"> Player Home </a></li>
      <li><a href="/adminLeague"> Admin Home </a></li>
      <li class="active"><a href="/playerRoster"> Player Roster </a></li>
      <!-- <li><a href="/createLeague"> Create League </a></li> -->
      <li class=""><button button id="logoutBtn" class="navbar-btn btn-primary btn pull-right" ng-click="admin.logout()"><span class="glyphicon glyphicon-log-out"></span> Sign Out</button></li>
    </ul>
  </div>
</nav>

<div class="adminSection">
  <h2>Players</h2>
  <table id="">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
      <th>Email Address</th>
      <th>Edit?</th>
    </tr>
      <tr ng-repeat="onePlayer in admin.playerRosterList">
      <td>{{onePlayer.first_name}}</td>
      <td>{{onePlayer.last_name}}</td>
      <td><button class = "btn btn-link" ng-click="admin.showPlayerProfile(onePlayer.id)">{{onePlayer.username}}</button></td>
      <td>{{onePlayer.email}}</td>
      <td ng-if="admin.admin"><button ng-click="admin.showEditProfile(onePlayer.id)" type ="submit" class="btn btn-default"><a href="/edit.profile">Edit</a></button></td>
    </tr>
  </table>
</div>
<!-- <a href = "/edit.profile">Edit</a> -->
