<h1>Schedule New Game</h1>

<!-- navbar -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="/home"> PLAYER HOME </a></li>
      <li><a href="/adminLeague"> ADMIN HOME </a></li>
      <li><a href="/adminPlayer"> ADMIN PLAYER </a></li>
      <li><a href="/createLeague"> CREATE LEAGUE </a></li>
    </ul>
  </div>
</nav>

<form class="form-horizontal col-xs-12 col-md-6 col-md-offset-3 well" ng-submit="">
  <div class="form-group row">
    <label class="control-label col-xs-offset-1 col-xs-2">Game Name</label>
    <div class="col-xs-8">
      <input class="form-control" type="text" ng-model="">
    </div>
  </div>
  <div class="form-group row">
    <label class="control-label col-xs-offset-1 col-xs-2">Player Count</label>
    <div class="col-xs-8">
      <input class="form-control" type="number" ng-model="">
    </div>
  </div>
  <div class="form-group row">
    <label class="control-label col-xs-offset-1 col-xs-2">Time</label>
    <div class="col-xs-8">
      <input class="form-control" type="time" ng-model="">
    </div>
  </div>
  <div class="form-group row">
    <label class="control-label col-xs-offset-1 col-xs-2">Date</label>
    <div class="col-xs-8">
      <input class="form-control" type="date" ng-model="date">
    </div>
  </div>
  <div class="form-group row">
    <label class="control-label col-xs-offset-1 col-xs-2">Blog Update</label>
    <div class="col-xs-8">
      <textarea class="form-control" rows="5" type="text" ng-model=""></textarea>
    </div>
  </div>
  <div class="col-xs-offset-3 col-xs-10">
    <button type="submit" class="btn btn-primary" >Create League</button>
    <button type="submit" class="btn btn-default" >Cancel</button>
  </div>
</form>

<div id="">
  <table id="">
    <tr>
      <th>Player Name</th>
      <th>Delete</th>
    </tr>
    <tr>
      <!-- add functionality to populate table -->
      <td>Name</td>
      <td><button type="submit" class="btn btn-default" >Delete</button></td>
    </tr>
  </table>
  <div class="col-xs-offset-3 col-xs-10">
    <button type="submit" class="btn btn-primary" >Add Player</button>
  </div>
</div>
