body {
  background-color: #fffffa;
  font-family: Helvetica, 'Trebuchet MS', sans-serif;
  margin: 2em auto 2em auto;
}

table, th, td {
  border: 1px solid gray;
  background-color: #fffffa;
  padding: 1em;
}

.form-horizontal {
  background-color: #f1f1f1;
  border-color: #e1e1e1;
}

.headCtr {
  text-align: center;
}

h1 {
  font-size: 3em;
}

h2 {
  margin-top: 0;
}

img {
  height: 150px;
  /*width: 150px;*/
}

.pagination {
  margin-top: 0px;
}
.gameNavbar {
  margin-bottom: 0px;
}

.btn-primary {
  background-color: #f4b225;
  border-color: #c2880a;
}

.btn-primary:hover {
  background-color: #da990b;
}

.btn-primary .active {
  background-color: #da990b;
}

.btn-primary:focus {
  background-color: #da990b;
}

#logoutBtn {
  background-color: #ff1d1a;
  border-color: #cc0300;
  float: right;
}

#logoutBtn:hover {
  background-color: #e60400;
}

.adminSection {
  background-color: #f1f1f1;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  margin-bottom: 1em;
  padding: 1em;
}

#scheduleGame {
  margin-bottom: 1em;
}

#addWinner {
  margin-top: 1em;
}

.navbar-default {
  background-color: #000103;
}

.navbar-default .navbar-nav li a {
  color: white;
  background-color: #000103;
}

.navbar-default .navbar-nav li a:hover {
  color: white;
}

.navbar-default .navbar-nav .active a, .navbar-default .navbar-nav .active a:hover, .navbar-default .navbar-nav .active a:active {
  color: white;
  background-color: #f4b225;
}

li a {
  font-size: 1.25em;
}

label span {
  font-size: 1.5em;
  font-weight: normal;
}
.removeButton {
  background-color: #ff1d1a;
  border-color: #cc0300;
  float: right;
}

.removeButton:hover {
  background-color: #e60400;
}

.noMarginPadding {
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}
