body {
  background-color: #fffffa;
  font-family: Helvetica, 'Trebuchet MS', sans-serif;
  margin: 2em auto 2em auto;
  width: 85%;
}

p, h1, h2, li, ul, ol, th, td, tr {
  text-shadow: 0px 0px 0.25px ;
  color: #505154;
}

table, th, td {
  padding: 1em;
}

.largeTable {
  max-height: 680px;
}

.mediumTable {
  max-height: 553px;
}

.mediumTable table tbody tr td, th {
  border-left: 0 !important;
  border-right: 0 !important;
}

.smallTable {
  max-height: 425px;
}

.overflow {
  overflow-y: scroll;
}

.form-horizontal {
  background-color: #f1f1f1;
  border-color: #e1e1e1;
}

.headCtr {
  text-align: center;
}

.updateDiv {
  border-bottom: 1px solid black;
  border-top: 1px solid black;

}

#otherProfile {
  color: white;
}

#blogs {
  min-height: 420px;
  max-height: 420px;
  overflow-y: scroll;
}

#blogDigest {
  min-height: 553px;
  max-height: 553px;
}

.pageNav {
  position: absolute;
  bottom: 0;
}

h1 {
  font-size: 3em;
}

h2 {
  margin-top: 0;
}

img {
  width: 15em;
  margin-left: 1em;
  box-shadow: 0.25em 0.25em lightgray;
  border: 1px solid gray;
  border-radius: 4px;
}

#personalBio {
  max-width: 25em;
}

#cardsImage {
  box-shadow: 0.25em 0.25em lightgray;
  border: 1px solid lightgray;
  border-radius: 4px;
  width: 100%;
  margin: auto;
}

#loginBody {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.pagination {
  margin-top: 0px;
}

.gameNavbar {
  margin-bottom: 0px;
}

.btn-primary {
  background-color: #f4b225;
  border-color: #c2880a;
}


.btn-primary:hover {
  background-color: #da990b;
}

.btn-primary .active {
  background-color: #da990b;
}

#selected {
  color: #da990b;
}

#selected2 {
  color: #da990b;
}

#selected3 {
  color: #da990b;
}


.btn-primary:focus {
  background-color: #da990b;
}

#logoutBtn {
  background-color: #ff1d1a;
  border-color: #cc0300;
  float: right;
}

#logoutBtn:hover {
  background-color: #e60400;
}

.playerSection {
  background:rgba(255,255,255,0.5);
  background-color: rgba(0,0,0,0.05);
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  margin-bottom: 1em;
  padding: 1em;
  height: 240px;
  overflow-y: scroll;
}

.adminSection {
  background:rgba(255,255,255,0.5);
  background-color: rgba(0,0,0,0.05);
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  margin-bottom: 1em;
  padding: 1em;
}

#playerTable {
  right: 1.5em;
}

#scheduleGame {
  margin-bottom: 1em;
}

#addWinner {
  margin-top: 1em;
}

.navbar-default {
  background-color: #000103;
}

.navbar-default .navbar-nav li a {
  color: white;
  background-color: #000103;
}

.navbar-default .navbar-nav li a:hover {
  color: white;
}

.navbar-default .navbar-nav .active a, .navbar-default .navbar-nav .active a:hover, .navbar-default .navbar-nav .active a:active {
  color: white;
  background-color: #f4b225;
}

#playerInfo {
  float: left;
  padding-left: 1em;
}

#profileImage {
  float: right;
}

li a {
  font-size: 1.25em;
}

label span {
  font-size: 1.5em;
  font-weight: normal;
}

label {
  text-align: left;
}

.removeButton {
  background-color: #ff1d1a;
  border-color: #cc0300;
  float: right;
}

.removeButton:hover {
  background-color: #e60400;
}

.noMarginPadding {
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}
