body {
  /*background-color: cornsilk;*/
}

table, th, td {
  border: 1px solid black;
  padding: 1em;
}

.navbar {
  /*background-color: darkred;*/
}

.pagination {
  margin-top: 0px;
}
.gameNavbar {
  margin-bottom: 0px;
}
